@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Darker+Grotesque:wght@300;400&family=Monda:wght@400;700&family=Nunito&family=Quicksand:wght@300;400;500;600;700&display=swap');
body{ font-family: 'Quicksand', sans-serif,Verdana, Geneva, Tahoma, sans-serif;height:100% }
html{ scroll-behavior: smooth; height:100%}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343045;
}



header {background: rgba(98,25,170,1.00);
    position: relative;
    position:fixed;
    width:100%;
    height:auto;
    z-index: 99;}
.logo {width:100px;
    padding: 10px;
    float: left;
    }
.menu{ width: 20px;
    height: 20px;
    position: absolute;
    line-height: 20px;
    justify-content: space-between;
    }
ul { display: flex;
     padding:0px;
     margin:0px;
     }
li {
    list-style: none;
    color: rgba(98,25,170,1.00);
    font-size: 16px;
    font-weight:bold;
    padding-top: 14px
    }
    a {margin: 33px;
    text-align: center;
    text-decoration:none;
    }
.box { width:60%;
    height:50px;
    background-color: white;
    position:absolute;
    margin-top:20px;
    right:320px;
    border-radius:15px 40px 40px 15px;
    box-shadow: -2px 2px 10px 0px black;
    }
.search {position: absolute;
    top: 20%;
    left:75%;
    transform: translate(-50%,0);
    width:45px;
    height:50px;
    background:white;
    border-radius: 4px 40px 40px 4px;
    transition: width 0.5s;
    overflow: hidden;
}
.search.active{ width:300px;}
.search input{
    position: absolute;
    top:6px;
    left:115px;
    width: calc(90% - 60px);
    height:34px;
    outline:none;
    font-size: 16px;
    border:none;
    padding: 0px 10px;
    color: #666;
}
.icon {
    position: absolute;
    top:2px;
    right:-2px;
    width:50px;
    height:50px;
    cursor: pointer;
    transition: 0.5s;
    border-radius:4px;
}
.search.active .icon {
    background: rgba(98,25,170,1.00);
    position: absolute;
    top: 5%;
    left:20%;
    transform: translate(-50%,0);
    width:76px;
    height:42px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    border-radius: 40px;
    transition: width 0.5s;
    overflow: hidden;
}
.icon:before { content:'';
    position: absolute;
    top:9px;
    left:14px;
    width: 13px;
    height:13px;
    background: transparent;
    border: 2px solid rgba(98,25,170,1.00);
    border-radius:50%;
    transition: 0.5s;    
}
.search.active .icon:before{
    content:'';
    position: absolute;
    top:15px;
    left:28px;
    width:13px;
    height:13px;
    background: transparent;
    border:none;
    border-right: 2px solid white;
    border-radius:0px;
    transform: rotate(45deg);
    transition: 0.5s;
   
}
.icon::after{ content:'';
    position:absolute;
    top:15px;
    left:28px;
    width:13px;
    height:13px;
    background:transparent;
    border-left:4px solid rgba(98,25,170,1.00);
    border-radius:0px;
    transform:rotate(-45deg);
    transition:0.5s;    
}
.search.active .icon::after {
    content:'';
    position:absolute;
    top:15px;
    left:28px;
    width:13px;
    height:13px;
    background:transparent;
    border:none;
    border-right: 2px solid white;
    border-radius:0px;
    transition:0.5s;
    transform:rotate(-45deg)

}
.search::placeholder{
    font-weight:300;
    font-family:'Quicksand', sans-serif;
}


.icon-wrapper a{ display: inline-block;
        position:absolute;
        padding:15px;
        left:85%;
        top:-10%;
        width:50px;
        height:50px;
        background:rgba(98,25,170,1.00);
        border-radius:10px;
        box-shadow: 0px 2px 5px black;
        }
.icon-wrapper2 a{ display: inline-block;
            position:absolute;
            padding:15px;
            left:90%;
            top:-10%;
            width:50px;
            height:50px;
            background:rgba(98,25,170,1.00);
            border-radius:10px;
            box-shadow: 0px 2px 5px black; 
            }
/*-------------------------------------------het header-----------------------------------------*/

.box2 {width: 100%;
    height:350px;
    background: rgba(98,25,170,1.00);
    top: 30%;
    position:relative
    }
    .box3 {width: 80%;
        height:350px;
        background: rgba(98,25,170,1.00);
        top:170%;
        position:absolute
        }
.heading{ padding:10px 10px 10px 30px;
    color: white;
    text-transform: uppercase;
    font-weight:300;
    font-size:50px
}
.btn-v {width: 120px;
    height: 60px;
    position: absolute;
    color: white;
    background:rgba(98,25,170,1.00);
    border: 2px solid white;
    border-radius:40px;
    font-weight:bold;
}
.btn-nv{width: 120px;
    height: 60px;
    position: absolute;
    color: rgba(98,25,170,1.00);
    background:white;
    border: 2px solid rgba(98,25,170,1.00);
    border-radius:40px;
    font-weight:bold; }
.btn-v:hover{background: white;
color: rgba(98,25,170,1.00)}
.btn-nv:hover{background:rgba(98,25,170,1.00);
    color: white}
.btn1{ right:50px;
        bottom:150px;}
.btn2{ right: 400px;
    margin-top: 250px}
h3 { color:white;
    font-weight:100;
    font-size:14px;
    padding: 30px 0px 0px 30px;
}
.hinh-anh {width:100%; overflow: hidden;}
.product{ padding-top:40px}
.hinh-anh img{ width:30%; 
    margin-top:170px; position: absolute
}
.hinh-anh1 {width:100%; overflow: hidden;}
.hinh-anh1 img { width:100%; 
    margin-top:170px; position: absolute}
.dl2 {padding-top:300px;}
.p-{position: absolute;
    padding-left: 40px;
    padding-top: 100px;
    color: crimson
}
.a-{position: absolute;
    padding-left: 80px;
    padding-top: 450px;
    color: crimson
}
.t-{position: absolute;
    padding-left: 80px;
    padding-top: 900px;
    color: crimson
}
footer{position: absolute;bottom:0px; width: 100%}
.box4{ width: 70%;
    height:350px;
    background:image();
    top:232%;
    position:absolute;
   }
   .box5{ width:100%;
    height:250px;
    background:rgba(98,25,170,1.00);
    top:380%;
    position:absolute;
   }